        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: blue;
            margin-top: 500px;
        }

        #stopwatch {
            font-size: 2em;
            margin: 20px 0;
        }

        #buttons {
            display: flex;
            justify-content: center;
        }

        button {
            font-size: 1em;
            margin: 0 10px;
            padding: 10px;
            cursor: pointer;
        }
    